.reasons-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.reason-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .reason-title {
    font-size: 24px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(to bottom, #141318, #1d1c22);
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 315px;
  min-height: 350px;
  height: auto;
  overflow: hidden;
}

@media (max-width: 850px) {
  .reasons-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .card {
    max-width: 500px;
  }
}

.card * {
  background-color: transparent;
}

.card .icon {
  font-size: 3rem;
}

.card .title-reason {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 10px 0;
  word-wrap: break-word;
}

.card .description {
  font-size: 1.1rem;
  line-height: 1.4;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-reason {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.description {
  font-size: 15px;
  margin-top: 5px;
  color: #ffffff;
  font-weight: 400;
}
