.learning-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
}

@media (max-width: 375px) {
  .learning-title {
    font-size: 24px;
  }
}

.learning-section,
.why-java-section,
.pricing-section,
.faq-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1024px) {
  .learning-section {
    /* padding-left: 200px;
    padding-right: 200px; */
  }
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 1rem;
}

.plan {
  background-color: #1c1c1c;
  padding: 20px;
  margin: 10px;
  width: 200px;
}

.faq-section ul {
  list-style: none;
  padding: 0;
}

.footer {
  background-color: #1c1c1c;
  padding: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}
